body {
	background: #30E8BF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #FF8235, #30E8BF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #FF8235, #30E8BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.h1, h1 {
	color: #000000;
	text-align: center;
}

.back {
	height: 1000px;
}

.card-img-top {
	width: 200px;
	direction: flex;
	align-content: center;
}